* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 1rem;
}

input {
  margin: 1rem 0;
  font-size: medium;
  padding: 5px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

td {
  text-align: center;
}

.table_container {
  margin: 1rem;
}
